<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
  	<md-card>
		<md-card-header>
			<md-card-title>
				<h3>{{dish.name | uppercase}}</h3>
			</md-card-title>
		</md-card-header>
		<img md-card-image src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
		<md-card-content>
			<p>{{dish.description}}</p>
		</md-card-content>
		<md-card-actions>
			<button md-button [routerLink]="['/dishdetail', prev]">
				<span class="fa fa-chevron-left fa-lg"></span>
			</button>
			<button md-button (click)="goBack()">BACK</button>
			<button md-button>LIKE</button>			
			<button md-button>SHARE</button>
			<span class="flex-spacer"></span>
			<button md-button [routerLink]="['/dishdetail', next]">
				<span class="fa fa-chevron-right fa-lg"></span>
			</button>
		</md-card-actions>
	</md-card>
  </div>
  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
	<md-list>
	  	<h3>Comments</h3>
		<md-list-item *ngFor="let feedback of dish.comments">
			<h4 md-line>{{feedback.comment}}</h4>
			<p md-line>{{feedback.rating}} Stars</p>
			<p md-line>
				<span>-- {{feedback.author}} {{feedback.date | date}}</span>
			</p>
		</md-list-item>
  	</md-list>
  </div>
  <div class="form-size">
  	<div>
	  	<md-list>
		  	<h3>Preview Comments</h3>
			<md-list-item *ngIf="commentForm.status == 'VALID'">
				<h4 md-line>{{commentForm.value["comment"]}}</h4>
				<p md-line>{{commentForm.value["rating"]}} Stars</p>
				<p md-line>
					<span>-- {{commentForm.value["author"]}} {{getDate() | date}}</span>
				</p>
			</md-list-item>
	  	</md-list>
  	</div>
    <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <p>
        <md-input-container class="full-width" dividerColor="{{commentForm.author ? 'warn' : 'primary'}}">
          <input mdInput formControlName="author" placeholder="Name" type="text">
		  <md-hint>
			<span [hidden]="!(formErrors.author)">{{formErrors.author}}</span>
		  </md-hint>
        </md-input-container>
        <br>
        <md-slider thumbLabel formControlName="rating" tickInterval="1" min="0" max="5" step="1"></md-slider>
      </p>
      <p>
        <md-input-container class="full-width">
          <textarea mdInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
          <md-hint>
			<span [hidden]="!(formErrors.comment)">{{formErrors.comment}}</span>
		  </md-hint>
        </md-input-container>
      </p>
      <button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
    </form>
  </div>
  <div [hidden]="dish || errMsg">
    <md-spinner></md-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMsg">
	<h2>Error</h2>
	<h4>{{errMsg}}</h4>
  </div>
</div>